<?xml version="1.0" encoding="UTF-8"?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rox">

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="rox_type" default="argo"/>

  <xacro:property name="prefix_value" value="$(arg prefix)"/>
  <xacro:property name="rox_typ" value="$(arg rox_type)"/>

  <xacro:macro name="rox_argo">

    <!-- Common collisions for all argo drives-->
    <disable_collisions link1="base_footprint" link2="caster_front_left_link" reason="Adjacent"/>
    <disable_collisions link1="base_footprint" link2="caster_front_right_link" reason="Adjacent"/>
    <disable_collisions link1="base_footprint" link2="wheel_front_left_link" reason="Never"/>
    <disable_collisions link1="base_footprint" link2="wheel_front_right_link" reason="Never"/>
    <disable_collisions link1="cabinet_link" link2="caster_front_left_link" reason="Never"/>
    <disable_collisions link1="cabinet_link" link2="caster_front_right_link" reason="Never"/>
    <disable_collisions link1="cabinet_link" link2="wheel_front_left_link" reason="Never"/>
    <disable_collisions link1="cabinet_link" link2="wheel_front_right_link" reason="Never"/>
    <disable_collisions link1="lidar_1_link" link2="caster_front_left_link" reason="Never"/>
    <disable_collisions link1="lidar_1_link" link2="caster_front_right_link" reason="Never"/>
    <disable_collisions link1="lidar_1_link" link2="wheel_front_left_link" reason="Never"/>
    <disable_collisions link1="lidar_1_link" link2="wheel_front_right_link" reason="Never"/>
    <disable_collisions link1="lidar_2_link" link2="caster_front_left_link" reason="Never"/>
    <disable_collisions link1="lidar_2_link" link2="caster_front_right_link" reason="Never"/>
    <disable_collisions link1="lidar_2_link" link2="wheel_front_left_link" reason="Never"/>
    <disable_collisions link1="lidar_2_link" link2="wheel_front_right_link" reason="Never"/>
    <disable_collisions link1="caster_front_left_link" link2="caster_front_right_link" reason="Never"/>
    <disable_collisions link1="caster_front_left_link" link2="wheel_front_left_link" reason="Adjacent"/>
    <disable_collisions link1="caster_front_left_link" link2="wheel_front_right_link" reason="Never"/>
    <disable_collisions link1="caster_front_left_link" link2="${prefix_value}base_link_inertia" reason="Never"/>
    <disable_collisions link1="caster_front_left_link" link2="${prefix_value}shoulder_link" reason="Never"/>
    <disable_collisions link1="caster_front_right_link" link2="wheel_front_left_link" reason="Never"/>
    <disable_collisions link1="caster_front_right_link" link2="wheel_front_right_link" reason="Adjacent"/>
    <disable_collisions link1="caster_front_right_link" link2="${prefix_value}base_link_inertia" reason="Never"/>
    <disable_collisions link1="caster_front_right_link" link2="${prefix_value}shoulder_link" reason="Never"/>
    <disable_collisions link1="wheel_front_left_link" link2="wheel_front_right_link" reason="Never"/>
    <disable_collisions link1="wheel_front_left_link" link2="${prefix_value}base_link_inertia" reason="Never"/>
    <disable_collisions link1="wheel_front_left_link" link2="${prefix_value}shoulder_link" reason="Never"/>
    <disable_collisions link1="wheel_front_left_link" link2="${prefix_value}upper_arm_link" reason="Never"/>
    <disable_collisions link1="wheel_front_right_link" link2="${prefix_value}base_link_inertia" reason="Never"/>
    <disable_collisions link1="wheel_front_right_link" link2="${prefix_value}shoulder_link" reason="Never"/>
    <disable_collisions link1="wheel_front_right_link" link2="${prefix_value}upper_arm_link" reason="Never"/>

    <xacro:if value="${rox_typ == 'argo'}">
      <disable_collisions link1="base_footprint" link2="caster_back_left_link" reason="Adjacent"/>
      <disable_collisions link1="base_footprint" link2="caster_back_right_link" reason="Adjacent"/>
      <disable_collisions link1="base_footprint" link2="wheel_back_left_link" reason="Never"/>
      <disable_collisions link1="base_footprint" link2="wheel_back_right_link" reason="Never"/>
      <disable_collisions link1="cabinet_link" link2="caster_back_left_link" reason="Never"/>
      <disable_collisions link1="cabinet_link" link2="caster_back_right_link" reason="Never"/>
      <disable_collisions link1="cabinet_link" link2="wheel_back_left_link" reason="Never"/>
      <disable_collisions link1="cabinet_link" link2="wheel_back_right_link" reason="Never"/>
      <disable_collisions link1="lidar_1_link" link2="caster_back_left_link" reason="Never"/>
      <disable_collisions link1="lidar_1_link" link2="caster_back_right_link" reason="Never"/>
      <disable_collisions link1="lidar_1_link" link2="wheel_back_left_link" reason="Never"/>
      <disable_collisions link1="lidar_1_link" link2="wheel_back_right_link" reason="Never"/>
      <disable_collisions link1="lidar_2_link" link2="caster_back_left_link" reason="Never"/>
      <disable_collisions link1="lidar_2_link" link2="caster_back_right_link" reason="Never"/>
      <disable_collisions link1="lidar_2_link" link2="wheel_back_left_link" reason="Never"/>
      <disable_collisions link1="lidar_2_link" link2="wheel_back_right_link" reason="Never"/>
      <disable_collisions link1="caster_back_left_link" link2="caster_back_right_link" reason="Never"/>
      <disable_collisions link1="caster_back_left_link" link2="caster_front_left_link" reason="Never"/>
      <disable_collisions link1="caster_back_left_link" link2="caster_front_right_link" reason="Never"/>
      <disable_collisions link1="caster_back_left_link" link2="wheel_back_left_link" reason="Adjacent"/>
      <disable_collisions link1="caster_back_left_link" link2="wheel_back_right_link" reason="Never"/>
      <disable_collisions link1="caster_back_left_link" link2="wheel_front_left_link" reason="Never"/>
      <disable_collisions link1="caster_back_left_link" link2="wheel_front_right_link" reason="Never"/>
      <disable_collisions link1="caster_back_left_link" link2="${prefix_value}base_link_inertia" reason="Never"/>
      <disable_collisions link1="caster_back_left_link" link2="${prefix_value}shoulder_link" reason="Never"/>
      <disable_collisions link1="caster_back_left_link" link2="${prefix_value}upper_arm_link" reason="Never"/>
      <disable_collisions link1="caster_back_right_link" link2="caster_front_left_link" reason="Never"/>
      <disable_collisions link1="caster_back_right_link" link2="caster_front_right_link" reason="Never"/>
      <disable_collisions link1="caster_back_right_link" link2="wheel_back_left_link" reason="Never"/>
      <disable_collisions link1="caster_back_right_link" link2="wheel_back_right_link" reason="Adjacent"/>
      <disable_collisions link1="caster_back_right_link" link2="wheel_front_left_link" reason="Never"/>
      <disable_collisions link1="caster_back_right_link" link2="wheel_front_right_link" reason="Never"/>
      <disable_collisions link1="caster_back_right_link" link2="${prefix_value}base_link_inertia" reason="Never"/>
      <disable_collisions link1="caster_back_right_link" link2="${prefix_value}shoulder_link" reason="Never"/>
      <disable_collisions link1="caster_back_right_link" link2="${prefix_value}upper_arm_link" reason="Never"/>
      <disable_collisions link1="caster_front_left_link" link2="wheel_back_left_link" reason="Never"/>
      <disable_collisions link1="caster_front_left_link" link2="wheel_back_right_link" reason="Never"/>
      <disable_collisions link1="caster_front_right_link" link2="wheel_back_left_link" reason="Never"/>
      <disable_collisions link1="caster_front_right_link" link2="wheel_back_right_link" reason="Never"/>
      <disable_collisions link1="wheel_back_left_link" link2="wheel_back_right_link" reason="Never"/>
      <disable_collisions link1="wheel_back_left_link" link2="wheel_front_left_link" reason="Never"/>
      <disable_collisions link1="wheel_back_left_link" link2="wheel_front_right_link" reason="Never"/>
      <disable_collisions link1="wheel_back_left_link" link2="${prefix_value}base_link_inertia" reason="Never"/>
      <disable_collisions link1="wheel_back_left_link" link2="${prefix_value}shoulder_link" reason="Never"/>
      <disable_collisions link1="wheel_back_left_link" link2="${prefix_value}upper_arm_link" reason="Never"/>
      <disable_collisions link1="wheel_back_right_link" link2="wheel_front_left_link" reason="Never"/>
      <disable_collisions link1="wheel_back_right_link" link2="wheel_front_right_link" reason="Never"/>
      <disable_collisions link1="wheel_back_right_link" link2="${prefix_value}base_link_inertia" reason="Never"/>
      <disable_collisions link1="wheel_back_right_link" link2="${prefix_value}shoulder_link" reason="Never"/>
      <disable_collisions link1="wheel_back_right_link" link2="${prefix_value}upper_arm_link" reason="Never"/>
    </xacro:if>

    <xacro:if value="${rox_typ == 'argo-trio'}">
      <disable_collisions link1="base_footprint" link2="caster_back_link" reason="Adjacent"/>
      <disable_collisions link1="base_footprint" link2="wheel_back_link" reason="Never"/>
      <disable_collisions link1="cabinet_link" link2="caster_back_link" reason="Never"/>
      <disable_collisions link1="cabinet_link" link2="wheel_back_link" reason="Never"/>
      <disable_collisions link1="lidar_1_link" link2="caster_back_link" reason="Never"/>
      <disable_collisions link1="lidar_1_link" link2="wheel_back_link" reason="Never"/>
      <disable_collisions link1="lidar_2_link" link2="caster_back_link" reason="Never"/>
      <disable_collisions link1="lidar_2_link" link2="wheel_back_link" reason="Never"/>
      <disable_collisions link1="caster_back_link" link2="caster_front_left_link" reason="Never"/>
      <disable_collisions link1="caster_back_link" link2="caster_front_right_link" reason="Never"/>
      <disable_collisions link1="caster_back_link" link2="wheel_back_link" reason="Adjacent"/>
      <disable_collisions link1="caster_back_link" link2="wheel_front_left_link" reason="Never"/>
      <disable_collisions link1="caster_back_link" link2="wheel_front_right_link" reason="Never"/>
      <disable_collisions link1="caster_back_link" link2="${prefix_value}base_link_inertia" reason="Never"/>
      <disable_collisions link1="caster_back_link" link2="${prefix_value}shoulder_link" reason="Never"/>
      <disable_collisions link1="caster_back_link" link2="${prefix_value}upper_arm_link" reason="Never"/>
      <disable_collisions link1="caster_front_left_link" link2="wheel_back_link" reason="Never"/>
      <disable_collisions link1="caster_front_right_link" link2="wheel_back_link" reason="Never"/>
      <disable_collisions link1="wheel_back_link" link2="wheel_front_left_link" reason="Never"/>
      <disable_collisions link1="wheel_back_link" link2="wheel_front_right_link" reason="Never"/>
      <disable_collisions link1="wheel_back_link" link2="${prefix_value}base_link_inertia" reason="Never"/>
      <disable_collisions link1="wheel_back_link" link2="${prefix_value}shoulder_link" reason="Never"/>
      <disable_collisions link1="wheel_back_link" link2="${prefix_value}upper_arm_link" reason="Never"/>
    </xacro:if>

  </xacro:macro>

</robot>
